body {
    background-color:bisque;
    color:black;
    font-family: Calibri;
    margin: 2rem   

}

header {
    font-size:300%; 
    color:brown; 
    font-family:brush script MT; 
    text-align: center;
    font-weight: 600;
}

h2 {
    text-decoration: overline;
    
}

p {
    text-align: justify;
}

.standard_p{
    text-indent: 3em;
}

#subtitle {
    font-family:Brush script MT; 
    font-size:150%; 
    text-align:center;
}

#Outline {
    background-color: black;
    color: white;
    margin: 2em;
    padding: 2em;
    font-family:monospace;
}

ul{
    list-style-type: "📌 ";
}

hr {
    border: 1px solid black;
}

.button_link {
    font-size: medium;
    background-color: bisque;
    color: black;
    border: 2px solid black;
    padding: 1rem;
    transition-duration: 0.4s;  

}

.button_link:hover {
    background-color: gray;
    color: white;
    border-color: white;
}

.link {
    color:black;
    text-decoration: none;
}

.link:hover {
    color: white
}

#button_links_sec {
    display: flex;
    width:fit-content;
    margin: auto

}

.flex_1 {
    font-size: 2rem;
    padding: 1em;
    text-align: center;
}

#menu_bar_sec {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 20px
}

.menu_div {
    font-size: 2rem;
    padding: 1rem;
    flex: 1 ;
    background-color: black
}

.menu_icon {
    text-decoration: none;
    color: white
    
}

.menu_div:nth-of-type(1):hover {background-color: rgb(104, 46, 46);}
.menu_div:nth-of-type(2):hover {background-color: rgb(54, 54, 79);}
.menu_div:nth-of-type(3):hover {background-color: rgb(48, 70, 48);}
.menu_div:nth-of-type(4):hover {background-color: rgb(48, 44, 37);}

table {
    margin: auto
}

